<div class='before-after-container'>
  <div class='img background-img'>
    
  </div>
  <div class='img foreground-img'>
    
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}