<div class='before-after-container'>
  <div class='img background-img'>
    
  </div>
  <div class='img foreground-img'>
    
  </div>
</div>

<style>
  .before-after-container{
    position: relative;
    width: 100%;
    height: 600px;
  }
</style>

{% schema %}
  {
    "name": "Before and After Slider",
    "settings": [
    ],
      "presets": [{
    "name": "Before and After Slider",
    "category": "Image"
  }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}