<div class='custom-announcement-bar'>
<a href="https://www.google.com" class='custom-announcement-bar__link'>
  <p class='custom-announcement-bar__message'>This is a test announcement for shopify</p>
</a>
  
</div>

<style>
  .custom-announcement-bar{
    text-align: center;
  }
</style>

{% schema %}
  {
    "name": "Custom Announcement Bar",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}