<div class='header'>
<div class="container">
  <nav id='navbar'>
    <img src="" alt="" class='logo'>
    <ul id='menu'>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT</a></li>
      <li class='catalog-menu'><a href="#">CATALOG</a>
        <div class='sub-menu-1'>
          <ul>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Collection</a></li>
          </ul>
        </div>
    </li>
      <li><a href="#">TERMS</a></li>
    </ul>
    <img src="" alt="" class='cart-icon'>
  </nav>
</div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "presets": [{
      "name": "Custom Header"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}