<div class='custom-announcement-bar'>
<a href="https://www.google.com" class='custom-announcement-bar__link'>
  <p class='custom-announcement-bar__message'>This is a test announcement for shopify</p>
</a>
  
</div>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}