<div class="image-comparison">
  <div class="images-container">
    <img class='before-image' src="https://cdn2.unrealengine.com/machine-learning-deformer-in-unreal-engine-5-1-off-1920x1080-326c44f4c4a3.jpg?resize=1&w=1000" alt="">
    <img class='after-image' src="https://cdn2.unrealengine.com/machine-learning-deformer-in-unreal-engine-5-1-on-1920x1080-7742c89751d4.jpg?resize=1&w=1000" alt="">

  <div class="slider-line"></div>
    <div class="slider-icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
        <path strokeLinecap="round" strokeLinejoin="round" d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9" />
      </svg>
    </div>
    <input type="range" class='slider' min='0' max='100'>
    </div>
</div>


<style>
  .image-comparison{
  max-width: 700px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
}

.image-comparison img{
  width: 100%;
  height:100%;
  object-fit: cover;
  object-position: left;
}

.image-comparison .images-container{
  position:relative;
  display:flex;
}


.image-comparison .images-container .before-image{
  position:absolute;
  top:0;
  width: 70%;
}

.image-comparison .slider{
  position: absolute;
  inset: 0;
  opacity: 0;
}

.image-comparison .slider-line{
  position: absolute;
  height:100%;
  width: 4px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
}


.image-comparison .slider-icon{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  color: white;
  transform: translate(-50%, -50%) rotateZ(90deg);
}
</style>
{% schema %}
  {
    "name": "Image Comparison",
    "settings": [
      
    ], "presets": [{
      "name": "Image Comparison",
      "category": "Image"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  const slider = document.querySelector(".image-comparison .slider")
const beforeImage = document.querySelector(".image-comparison .before-image")
const sliderLine = document.querySelector(".image-comparison .slider-line")
const sliderIcon = document.querySelector(".image-comparison .slider-icon")

slider.addEventListener("input", (e) => {
  let sliderValue = e.target.value + "%"

  beforeImage.style.width = sliderValue
  sliderLine.style.left = sliderValue
  sliderIcon.style.left = sliderValue
})

{% endjavascript %}