  <div class="container">
    <div class="box-scroll">
      <div class="card ml">
        <img src="https://freebiespic.com/images/2018/0821_sneakers-shoes-men-on-the-shelf-thumb.jpg" alt="Text image">
        <p>Sneakers shoes for men</p>
      </div>
      <div class="card ml">

        <img src="https://freebiespic.com/images/2018/0820_shoes-for-men-leather-thumbnail.jpg" alt="Text image">
        <p>Shoes for men leather</p>
      </div>
      <div class="card ml">
        <img src="https://freebiespic.com/images/2018/0911_various-sneakers-on-the-showcase-at-the-store-thumb.jpg" alt="Text image">
        <p>Sport shoes for men</p>
      </div>
      <div class="card ml">
        <img src="https://freebiespic.com/images/2018/0821_sneakers-shoes-men-on-the-shelf-thumb.jpg" alt="Text image">
        <p>Product Title</p>
      </div>
    </div>
  </div>
  
  <style>
    
  </style>
{% schema %}
  {
    "name": "Scrollable Categories",
    "settings": [],
    "presets": [{
      "name": "Scrollable Categories"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}