  <div class="scrollable-category-container">
    <div class="box-scroll">
      <div class="card ml">
        <img src="https://freebiespic.com/images/2018/0821_sneakers-shoes-men-on-the-shelf-thumb.jpg" alt="Text image">
        <p>Sneakers shoes for men</p>
      </div>
      <div class="card ml">

        <img src="https://freebiespic.com/images/2018/0820_shoes-for-men-leather-thumbnail.jpg" alt="Text image">
        <p>Shoes for men leather</p>
      </div>
      <div class="card ml">
        <img src="https://freebiespic.com/images/2018/0911_various-sneakers-on-the-showcase-at-the-store-thumb.jpg" alt="Text image">
        <p>Sport shoes for men</p>
      </div>
      <div class="card ml">
        <img src="https://freebiespic.com/images/2018/0821_sneakers-shoes-men-on-the-shelf-thumb.jpg" alt="Text image">
        <p>Product Title</p>
      </div>
    </div>
  </div>
  
  <style>
.scrollable-category-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  ,argin-bottom: 50px;
}

.box-scroll {
  display: flex;
  flex-wrap: nowrap;
  width: 70%;
  overflow: auto;
  cursor: pointer;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.box-scroll::-webkit-scrollbar {
  display: none;
}

.card {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
}

.ml {
  margin-right: 10px;
}

img {
  display: block;
}

p {
  padding: 0 10px;
}

  </style>
{% schema %}
  {
    "name": "Scrollable Categories",
    "settings": [],
    "presets": [{
      "name": "Scrollable Categories"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  const mouseWheel = document.querySelector('.box-scroll');

mouseWheel.addEventListener('wheel', function(e) {
    const race = 15; 

    if (e.deltaY > 0) 
        mouseWheel.scrollLeft += race;
    else // Scroll left
        mouseWheel.scrollLeft -= race;
		e.preventDefault();
});

{% endjavascript %}